/* Edicion de todo nuestro contenido */
main {
  width: 90%;
  /*width: 890px; */
  max-width: 1000px;
  margin: auto;
  background: rgb(211, 209, 209);
  padding: 0px;
  margin-top: 0px;
}

a.navegadores {
  color: white;
  text-decoration: none;
}

/* Contenedor del nombre del tecnologico */
div.cont-nom-tecnologico {
  width: 90%;
  margin: 0px 20px 20px 20px;
  color: #060763;
  padding: 25px;
}
/* Ocupara para una imagen a la derecha */
div.cont-nom-tecnologico img.imagen-derecha {
  float: right;
  padding-top: 25px;
  margin-left: 50px;
  width: 250px;
  height: 120px;
}
/* Recetear el partado del texto que no tome todo este es crucial no borrarlo */
div.reset {
  clear: both;
}
/* Texto para una noticia con imagena a la derecha */
.text2 {
  width: auto;
  margin-top: 40px;
  /* padding-left: 100px; */
  text-align: right;
  text-decoration: solid;
  font-size: 30px;
  font-family: ShitHappensTriald;
}


/* Franja azul */
.franja-azul {
  width: 100%;
  height: 20px;
  background: #060763;
}

/* Conetenedor General */
.cont-general {
  width: 100%;
}
.conte-imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.oneline {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;

}
.oneline3 {
  width: 220px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

img {
  width: 100%;
}

.conte-text {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.text-img {
  width: 100%;
  padding-left: 50px;
  /* padding-right: 90px; */
}
/* ESTA FUNCION SE ACTUVA CUANDO SE HACE PEQUE;A LA PAGINA */
/* El valor 768 es los pixeces cuando se activara */
@media screen and (max-width: 900px) {
  img.imagen-derecha {
    margin-top: 60px;
  }
  .text2 {
    margin-top: 80px;
  }
  .oneline {
    width: 120px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .oneline3 {
    width: 120px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .text-img {
    width: 100%; 
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


